.footer {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
  outline: 3px solid blue;  
  background-color: #F7F2EA;  
}



.info {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 58px;
  justify-content: space-between;
}


.products {  
  width: 20%;
}


.products-name {  
  font-size: 24px;
  font-weight: 400;
  line-height: 1.21;
  text-align: left;
  margin-bottom: 10px;
}


.list-tea {  
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
}


.products-item {
  
}


.company {
  width: 20%;
  
}
.company-name {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.21;
  text-align: left;
  margin-bottom: 10px;
}
.list-company {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
}
.company-item {
}


.bottom-quatation {
  width: 20%;
  display: flex;
  flex-direction: column;
}


.quatation {
  padding: 30px;  
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
}


.author-quatation {
  padding-left: 30px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4px;
  text-align: left;
}


.contacts{
  width: 20%;
}

.contacts img{
  margin: 10px;
}

.title-contacts{
  font-size: 24px;
  font-weight: 400;
  line-height: 1.21;
  text-align: left;
  margin-bottom: 10px;
}

.menu-contacts{
  text-align: right;

}




.bottom{
  justify-content: flex-end;
  align-self: flex-end;
  align-self: stretch;
  flex: auto;
}