.footer {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;  
  background-color: #F7F2EA;  
}



.info {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 58px;
  justify-content: space-between;  
}


.products {  
  flex-grow: 1; /*карточка может увеличиваться*/
  flex-shrink: 1; /*карточка может уменьшаться. если 0 то не может*/   
}


.products-name {  
  font-size: 24px;
  font-weight: 400;
  line-height: 1.21;
  text-align: left;
  margin-bottom: 40px;
}


.list-tea {  
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
}

/*
.products-item {
  
}
*/

.company {
  flex-grow: 1; /*карточка может увеличиваться*/
  flex-shrink: 1; /*карточка может уменьшаться. если 0 то не может*/
  flex-basis: 20%; /*сколько % от всего доступного места занимает карточка*/  
}


.company-name {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.21;
  text-align: left;
  margin-bottom: 40px;
}

.list-company {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
}
/*
.company-item {
}
*/

.wrapper{
  display: flex;
  column-gap: 58px;
  flex-grow: 1; /*карточка может увеличиваться*/
  flex-shrink: 1; /*карточка может уменьшаться. если 0 то не может*/
  flex-basis: 50%; /*сколько % от всего доступного места занимает карточка*/  

}

.bottom-quatation { 
  display: flex;
  flex-direction: column; 
  flex-basis: 50%; 
  margin-top: 50px;
}


.quatation {
  padding: 10px;  
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
}


.author-quatation {
  padding-left: 30px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4px;
  text-align: left;
}


.contacts{
  flex-grow: 1; /*карточка может увеличиваться*/
  flex-shrink: 1; /*карточка может уменьшаться. если 0 то не может*/
  flex-basis: 20%; /*сколько % от всего доступного места занимает карточка*/
}



.title-contacts{
  font-size: 24px;
  font-weight: 400;
  line-height: 1.21;
  text-align: left;
  margin-bottom: 40px;
  
}

.container{
  display: flex;
  gap: 20px; 
  justify-content: space-between;
}

.cup{
  display: flex;
  flex-direction: column;
}

.for-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5px;
}

.container-contacts{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;    
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4;
  row-gap: 20px;
}

.logo-cont{
  display: flex;
  align-items: center;
}



.menu-contacts{ 
  margin-top: 40px;
  text-align: right;
}


.bottom{
  display: flex;
  flex-direction: row;
  column-gap: 100px;
}

.tealuxe {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
}




@media (max-width: 479.98px) {    
  .wrapper {
    display: flex;
    flex-direction: column;        
  }
}
