
.prioritise {
  max-width: 1240px;
  margin: 0 auto;
  padding: 50px 20px;
  outline: 3px solid blue; 
}

.title-prioritise {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.21;
  text-align: center;
  margin: 40px; 
  }

.conditions{
  display: flex;  
  justify-content: space-evenly; 
  justify-items: center;
  margin-bottom: 50px;
  row-gap: 40px;
}

.condition {
  display: block;  
  text-align: center;
  justify-items: center; 
  padding-bottom: 30px;
  row-gap: 40px;
}

.first{  
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
}

.second{
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  text-align: left;
}

.vector{
  height: 60px;
  width: 60px;
  justify-content: center;
  margin-top:20px;
}



@media (max-width: 999.98px) {
  .conditions {  
    flex-wrap: wrap;    
    padding: 0 44px;
  }
}


@media (max-width: 479.98px) {
  .conditions {
  padding: 0 25px;
  }

  .condition {
      flex-direction: column;
  }
  
}