

.subscribe {
  /*max-width: 1240px;*/
  margin: 0 auto;
  padding: 50px;
  background-size: auto;
  background-color: #F7F2EA; 
  background-image: url("./images/subscribe/tea\ 1.png"); 
  background-size: 40%;
  background-repeat: no-repeat;
  background-position-x: right; 
  padding: 60px calc(50% - 600px);   
}

.title-want {  
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 20px 0;
}

.subscription {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;   
  row-gap: 40px;
  column-gap: 58px; 
  margin: 50px auto 0;
}

.form {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  flex-grow: 1; /*карточка может увеличиваться*/
  flex-shrink: 1; /*карточка может уменьшаться. если 0 то не может*/
  flex-basis: 46%; /*сколько % от всего доступного места занимает карточка*/
}


.words{  
  margin-bottom: 20px;  
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
}

.placeholder{ 
  display: flex;
  align-items: center;  
}
.placeholde-email{
  min-width: 50%;
}
.join {
  width: 10%;
  background: #FFFFFF;
  color: #151618;
  border: 1px solid #151618;
  padding: 12px 41px;
  text-align: center;
  margin-left: 20px;
  display: flex;
  cursor: pointer; /* "палец" при наведении курсора */
  transition: all 0.5s ease;
}

.checkbox-label {
  display: flex;
  align-items:start;
}
.checkbox {
  margin-right: 8px;
}


@media (max-width: 999.98px) {
  .subscription {
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
    gap: 60px;
  }
}

@media (max-width: 479.98px) {
  .subscription {
    margin-top: 30px;
    gap: 30px;
  }
}




