.tea-blog {
    max-width: 1240px;
    margin: 0 auto; /*по центру*/
    padding: 50px 20px; /*padding 50px определяет, что границы блока будут по высоте много больше содержимого. т.е блок большой, а текст посередине*/
    outline: 3px solid blue;/*потом убрать*/
}

.title-tea {
    font-family: Cormorant;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 20px 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 58px;
    margin-bottom: 60px; /*добавляет отступ для следущего элеманта*/
}

.card {
    display: flex;
    column-gap: 20px;
    /*flex-direction: column; расположить друг под другом */
    /* max-width: 300px; */
    /* 0 - отключ, 1 - вкл */
    flex-grow: 1; /*карточка может увеличиваться*/
    flex-shrink: 1; /*карточка может уменьшаться. если 0 то не может*/
    flex-basis: 46%; /*сколько % от всего доступного места занимает карточка*/

    /* flex: 1 1 47%; */
}

.card img {
    /* margin-right: 20px; */
}

.card-info {
    display: flex;
    flex-direction: column;
}

.subtitle {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.21;
    color: #151618;
}

.author {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    line-height: 1.4;
    flex: auto; /*Растягивает элемент по блоку так, чтобы последующий элемент прижать книзу. Прописывать вместе с родителем -  
    .card-info {
        display: flex;
        flex-direction: column;*/
}

.link {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    line-height: 1.4;
    display: inline-block;
}

.link::after {
    content: '';
    width: 5px;
    height: 10px;
    display: inline-block;
    margin-left: 8px;
    background: url("./images/blog/icon.svg") 100% / cover no-repeat;
    transition: all .3s ease 0s;
}

.link:hover::after {
    transform: translateX(5px); /*чтобы стрелка дёргалась*/    
}

.view-all {
    background: #FFFFFF;
    color: #151618;
    border: 1px solid #151618;
    padding: 12px 41px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    cursor: pointer; /* "палец" при наведении курсора */
}

@media (max-width: 999.98px) {
    .cards {
        flex-direction: column;
        padding: 0 44px;
    }

    
    .card:nth-child(even) {
        margin-left: 80px;
    }
}

@media (max-width: 669.98px) {
    .cards {
        padding: 0;
    }

    .card:nth-child(even) {
        margin-left: 0px;
    }
}

@media (max-width: 539.98px) {
    .cards {
        padding: 0 25px;
    }

    .card{
        flex-direction: column;
    }

    .card:nth-child(3),
    .card:nth-child(4) {
        display: none;
    }
}