


.top {  
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px 20px; 
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content:center;
  align-items: center;
  column-gap: 60px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 80px;
}
.Two {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 40px;
}
.one {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media (max-width: 767.98px) {
  
}

